{% extends 'base.html' %}
{% block title %}IG Firehose{% endblock %}

{% block content %}

    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Dashboard</h1>
          <p class="lead text-muted">An overview of images mined by IGFirehose. Total Images mined <span id="imagesmined">...</span></p>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
	    {% for tag in tags %}
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{ tag.thumbnail }}" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">#{{ tag.name }} , total images {{ tag.size }} , mined {{ tag.mined }}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="/tag_view/{{ tag.name }}" target="_blank"><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                      <a href="https://www.instagram.com/explore/tags/{{ tag.name }}/?hl=en" target="_blank"><button type="button" class="btn btn-sm btn-outline-secondary">Expore on IG</button><a/>
                    </div>
                    <small class="text-muted"></small>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>

    </main>


    <script>
$(document).ready(function () {


setInterval(igf.update_mined, 3000,"#imagesmined","");
igf.update_mined("#imagesmined","");
});
    </script>
{% endblock %}
